.presentacion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.presentacion__caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3rem;
    height: 86vh;
}

.presentacion__titulo {
    font-weight: 600;
    color: var(--letra-oscura);
    font-size: 6rem;
    transform-origin: top left;
    animation: 2s inicio-texto 1;
}

.presentacion__foto {
    height: 25rem;
    animation: 3s inicio-foto 1;
}

@keyframes inicio-foto {
    0% {
        opacity: 0;
    }

}

@keyframes inicio-texto {
    0% {
        opacity: 0;
        margin-left: -100%;
    }
    40% {
        opacity: 0%;
    }
}

.presentacion__texto {
    font-size: 3rem;
    color: var(--letra-intermedio);
    animation: 3s inicio-texto 1;
}


@media screen and (max-width: 425px) {

    .presentacion__foto {
        display: none;
    }

    .presentacion__titulo {
        font-size: 3.5rem;
    }

    .presentacion__texto {
        font-size: 2.5rem;
    }

    .presentacion__caja {
        padding: 0;
        width: 100vh;
        padding: 0 5rem 0 2rem;
        height: calc(100vh - 68.8px);
    }
}