.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

.menu__item {
    color: var(--letra-oscura);
    padding: 1rem 1rem 1.2rem;
    border-top: 4px solid transparent;
    font-size: 1.3rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.menu__item:hover {
    color: var(--letra-intermedio);
    padding: 1.2rem 1rem 1rem;
    /* font-size: 1.4rem; */
    font-weight: 600;
    border-top: 4px solid var(--letra-intermedio);
    transition-duration: 300ms;
    transition-property: color, padding, font-weight;
}

.logo {
    height: 2.5rem;
    margin-left: 1rem;
}